/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/background.jpg");
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.btn-facebook {
    border-color: #405993;
    color: #405993;
    margin: 10px 0px;
}

.btn-facebook:hover {
    background-color: #405993;
    color: #ffffff;
}

.btn-google {
    border-color: #e34133;
    color: #e34133;
    margin: 10px 0px;
}

.btn-google:hover {
    background-color: #e34133;
    color: #ffffff;
}

div.body-wrapper {
    margin: 50px;
    background-color: #ffffff;
    height: auto;
    padding: 50px;
    overflow: auto;
}

div.body-wrapper-home {
    margin: 50px;
    height: auto;
    padding: 50px;
    overflow: auto;
}

.signin-image {
    margin-bottom: 30px;
}

.signin-label {
    margin: 20px 0px;
}

.ride-list-wrapper {
    margin-top: 10px;
}

.ride-line-wrapper {
    padding: 10px 0px;
    height: auto;
    overflow: hidden;
}

.user-list-wrapper {
    margin-top: 10px;
}

.user-line-wrapper {
    padding: 10px 0px;
    height: auto;
    overflow: hidden;
}

.calculator-price-wrapper {
    height: auto;
    overflow: auto;
}

.bold {
    font-weight: bold;
}

.custom-hr {
    margin: 0px !important;
}

.ride-line-wrapper:nth-of-type(2n) {
    background-color: #f5f5f5;
}

.user-line-wrapper:nth-of-type(2n) {
    background-color: #f5f5f5;
}

a.custom-anchor:hover {
    text-decoration: none;
}

.home-button-wrapper {
    margin-top: 40px;
}

.dashboard {
    background-color: #ffffff;
    margin: 30px 0px;
    padding: 40px;
}

.unresizable {
    resize: none;
}

.detail-city {
    font-size: 24px;
}

.tab-wrapper {
    margin: 25px 0px 0px 0px;
    font-size: 14px;
}

.tab-line {
    margin: 5px 0px;
}

.btn-custom-lng {
    width: 250px;
}

.btn-custom-md {
    width: 150px;
}

.user-line {
    line-height: 38px;
}

.profile-image {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.equal-div {
    min-height: 150px;
}

.friend-request-wrapper {
    text-align: right;
}

.rating-group {
    margin: 10px 0px;
}

@media(min-width: 992px)  {
    .profile-bottom-text-wrapper {
        position: absolute;
        bottom: 0px;
        left: 60px;
    }

    .profile-bottom {
        position: relative;
    }

    .profile-bottom-button-wrapper {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .friend-request-wrapper {
        text-align: center;
    }
}

@media(min-width: 1200px) {
    .profile-bottom-text-wrapper {
        position: absolute;
        bottom: 0px;
        left: 20px;
    }

    .profile-bottom {
        position: relative;
    }

    .friend-request-wrapper {
        text-align: right;
    }
}

@media(max-width: 992px) {
    .equal-div {
        min-height: 0px;
    }

    .profile-bottom {
        text-align: center;
    }
}

.user-name {
    font-size: 36px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
